author.dtd

<?xml version="1.0" en=coding = "UTF-8"?>
<!ELEMENT fiction(author+)>
<!ELEMENT author(name,lang,genre,work+,books,nationality,sales)>
<!ELEMENT name(#PCDATA)>
<!ELEMENT lang(#PCDATA)>
<!ELEMENT genre(#PCDATA)>
<!ELEMENT work(#PCDATA)>
<!ELEMENT books(#PCDATA)>
<!ELEMENT nationality(#PCDATA)>
<!ELEMENT sales(#PCDATA)>